.quantity{
    display: none;
}

.name{
    font-weight: 850;
    font-size: 24px;
    color: #997435;
    text-align: center;
}

.item-img{
    height: 10rem;
    width: 10rem;
    object-fit: contain;
    aspect-ratio: 3/2;
    margin-left: auto;
    margin-right: auto;
}

.img{
    display: flex;
    align-items: center;
}

.item{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    transition: 0.3s ease-in-out;
    border-radius: 6px;
}

.item:hover{
    background-color: #f7ecd8;
}

.item:active{
    background-color: #f7ecd8;
}

.quant{
    width: 10%;
}

.item-info{
    /* color: #bd7735; */
    text-align: center;
}