@import "./root.css";
@import "./components/item.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.item-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

body{
    /* background-color: #997435; */
    font-family: "Nunito Sans", sans-serif;
}

.logo{
    height: 7rem;
    width: 20rem;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.payment-label{
    font-size: 24px;
    font-weight: 600;
}

.option{
    border-radius: none;
    border: none;
    width: 5rem;
}

.qr-img{
    height: 20rem;
    width: 20rem;
}

.payment-method-scan-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.payment-grid{
    display: grid;
}

.btn{
    border: none;
    padding: 13px;
    font-size: 16px;
    background-color: #f7ecd8;
    transition: 0.3s ease-in-out;
}

.btn:hover{
    font-size: 17px;
    padding: 13px;
}
/* label{
    color: white;
} */

